
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f8fb;
}


.container {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 30px;
    padding: 20px 0;
}


.left, .right {
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}


.title {
    text-align: center;
    color: #58a7c8;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.section-title {
    color: #2b7ca7;
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 3px solid #93d4f5;
    display: inline-block;
    padding-bottom: 5px;
}


.icons-row {
    display: flex;
    gap: 20px;
    font-size: 40px;
    margin: 15px 0;
}


.stats p {
    margin: 8px 0;
    font-size: 16px;
}


.list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.list li {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}


.health-box {
    border-left: 5px solid #ff7d7d;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
